.review-container-top {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-img {
    width: 20%;
    height: 100%;
    margin-right: 20px;
}

.review-img img {
    width: 100%;
    height: 100%; /* 이미지 높이는 컨텐츠에 맞게 설정 */
    max-width: 450px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.review-container {
    background-color: #2c2c3e;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
}
.game-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f5f5f5;
}
.author-name {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    color: #aaa;
    margin-bottom: 20px;
}
textarea {
    width: 95%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #3b3b4f;
    color: #f5f5f5;
    resize: none;
}
.submit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-container div button {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-update {
    background-color: #007bff;
}
.button-update:hover {
    background-color: #0056b3;
}
.button-delete {
    background-color: red;
}
.button-delete:hover {
    background-color: rgb(162, 0, 0);
}
.rating-container {
    display: flex;
    gap: 20px;
}
.rating-container img {
    width: 40px;
    cursor: pointer;
}

span {
    color: white;
}

.search_content {
    display: flex;
}

.slider-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 제목을 왼쪽 정렬 */
    margin-bottom: 10px;
    width: 1200px; /* 슬라이더와 같은 너비로 설정 */
    margin: 0 auto 10px; /* 슬라이더와 동일한 위치로 설정 */
}
.review_result {
    display: flex;
    width: 80%;
}
.nothing {
	display: flex;
	font-size: 50px;
	justify-content: center;
	align-items: center;
}

.review_result h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-align: center;
}
.underline {
    width: 100%; /* 밑줄 길이 설정 */
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

.search_filter {
    margin-top: 52px;
    width: 20%;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c2e;
    padding: 10px;
    border-radius: 5px;
}

.search-bar input[type='text'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background-color: #2a475e;
    color: white;
    transition: background-color 0.3s ease;
}

/* 반응형 디자인: 화면 크기 768px 이하일 때 */
@media (max-width: 768px) {
    .filter-menu {
        width: 100%; /* 화면이 작아지면 필터 메뉴가 화면 전체 너비로 확장 */
        padding: 10px;
    }

    .search-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar input[type='text'] {
        font-size: 14px;
        padding: 8px;
    }

    .apply-button {
        font-size: 14px;
        padding: 8px;
    }
}

/*게임 아이템 */
.game-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.game-result {
    width: 22%;
    margin: 10px;
    background-color: #2c2c3e;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: auto;
}

.game-result .img {
    width: 100%;
    height: auto;
    background-color: #3b3b4f;
}

.game-result .img img {
    width: 100%;
    max-height: 150px;
    height: auto;
    object-fit: cover;
}

.game-result p {
    padding: 10px;
    color: white;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
